<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          coreApp="true"
          xmlns:tools="http://schemas.android.com/tools" package="com.app.scanner"
          android:sharedUserId="android.uid.system">

    <uses-feature
            android:name="android.hardware.type.automotive"
            android:required="true"/>

    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"
                     tools:ignore="ProtectedPermissions"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
            android:name=".CarApp"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MyApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.UsbDiskReceiver">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
                <data android:scheme="file"/>
            </intent-filter>
        </receiver>

        <service
                android:name="com.gxa.car.timesync.TimeSyncService"
                android:exported="true"/>
    </application>

</manifest>